
/python/.ipynb_checkpoints/
/python/Accessibility_Analysis/
!/python/Accessibility_Analysis.ipynb

/python/Bike_Tour-Copy1.ipynb
/python/Cuba/
/python/Spanien.ipynb
/python/Untitled.ipynb
/python/Untitled1.ipynb
/python/Untitled2.ipynb
/python/baustellen_rostock.json
/python/isochrone_address.ipynb
/python/new_Munich_Budapest-Copy1.ipynb
/python/old_Munich-Budapest_direction-example.ipynb

.ipynb_checkpoints/git-checkpoint.ipynb
git.ipynb
