requests==2.24.0
ipython==7.19.0
folium==0.11.0
openrouteservice==2.3.0
urllib3==1.25.11
geopandas==0.8.1
pandas==1.1.4
fiona==1.8.17
matplotlib==3.3.3
pyproj==2.6.1.post1
rasterstats==0.15.0
branca==0.4.1
